// Place all the styles related to the Box controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
    height:500px;
    width:150px;
    margin:0px auto;
    border: 3px solid #73AD21;
    padding: 0px;
    overflow: scroll;
}

.floating-box {
    float: left;
    width: 66px;
    height: 75px;
    margin: 0px;
    border: 0px;
    background-color:#D3D3D3;
    padding: 2px;
}
